#!ipxe

# Talos Linux iPXE boot script
# Boots nodes into maintenance mode for talosctl apply-config

echo Booting Talos Linux ${PXE_TALOS_VERSION} via iPXE...
echo Server: ${PXE_SERVER_URL}

kernel ${PXE_SERVER_URL}/${PXE_TALOS_VERSION}/kernel-amd64 talos.platform=metal slab_nomerge pti=on talos.halt_if_installed=1 initrd=initramfs-amd64.xz
initrd ${PXE_SERVER_URL}/${PXE_TALOS_VERSION}/initramfs-amd64.xz
boot
